/* Основний контейнер картки користувача */
.profile {
  width: var(--width);
  min-height: 300px; /* Ширина картки */
  background-color: #f0f0f0; /* Фоновий колір */
  border: 1px solid #ddd; /* Рамка */
  padding: 20px; /* Внутрішні відступи */
  border-radius: 5px; /* Закруглені кути */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тінь */
  text-align: center; /* Вирівнювання тексту по центру */
}

.description {
  display: grid;
  gap: 20px;
}

/* Стилі для аватара */
.avatar {
  margin: 0 auto;
  width: 100px; /* Ширина аватара */
  height: 100px; /* Висота аватара */
  border-radius: 50%; /* Закруглені кути для кругового аватара */
  margin-bottom: 10px; /* Відступ вниз */
}

/* Стилі для імені користувача */
.name {
  font-size: 1.5em; /* Розмір шрифту для імені */
  font-weight: bold; /* Товщина шрифту */
}

/* Стилі для тегу користувача */
.tag {
  color: #777; /* Колір тексту */
  font-style: italic; /* Курсивний шрифт */
}

/* Стилі для місця розташування користувача */
.location {
  color: #555; /* Колір тексту */
}

/* Стилі для списку статистики */
.stats {
  display: flex;
  justify-content: space-around;
  list-style: none; /* Видалення маркера списку */
  padding: 0; /* Внутрішні відступи списку */
  margin-top: 20px; /* Відступ вгору */
}

/* Стилі для кожного елементу списку статистики */
.stats li {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px; /* Відступ вниз між елементами */
}

/* Стилі для мітки і кількості в списку статистики */
.label {
  color: #888; /* Колір тексту мітки */
}

.quantity {
  font-weight: bold; /* Товщина шрифту для кількості */
}
