/* Стилі для секції statistics */
.statistics {
  background-color: #f9f9f9; /* Фоновий колір секції */
  padding: 20px 0 0; /* Внутрішні відступи */
  border-radius: 5px; /* Закруглені кути */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тінь */
  width: var(--width);
  margin-bottom: 10px;
}

/* Стилі для заголовка */
.title {
  font-size: 1.5rem; /* Розмір шрифту */
  font-weight: bold; /* Товщина шрифту */
  margin-bottom: 15px; /* Відступ вниз */
  text-align: center;
}

/* Стилі для списку статистики */
.statList {
  list-style: none; /* Видалення маркера списку */
  padding: 0; /* Внутрішні відступи */
  display: flex;
  justify-content: space-around;
  width: 100%;
}

/* Стилі для кожного елементу списку статистики */
.item {
  width: 100%;
  display: flex; /* Зробити дочірні елементи блоками */
  flex-direction: column;
  align-items: center; /* Вирівнювання по вертикалі */

  &.docx {
    background-color: aqua;
  }
  &.pdf {
    background-color: rgb(204, 0, 255);
  }
  &.mp3 {
    background-color: #e9146d;
  }
  &.psd {
    background-color: #07d6b4;
  }
}

/* Стилі для мітки і відсотка */
.label {
  font-weight: bold; /* Товщина шрифту для мітки */
}

.percentage {
  color: white; /* Колір тексту для відсотка */
  font-weight: bold; /* Товщина шрифту для відсотка */
}
